{% extends "index.html" %}
{% block title %}
<title>Add Birthday</title>
{%endblock%}
{% block content %}
<div>
    <form method="post" , enctype="multipart/form-data">

        <h4>{{ form.name.label }}</h4>
        <br>
        <h4> {{ form.name(render_kw=dict(class='my_class'))}}</h4>
        <br>

        <h4>{{ form.birthday.label }} </h4>
        <br>

        <h4>{{ form.birthday() }}</h4>
        <br>

        <h4>{{ form.img_url.label }} </h4>
        <br>

        <h4>{{ form.img_url() }}</h4>
        <br>

        <h4> {{ form.submit() }}</h4>


    </form>


</div>

{%endblock content%}
